<div class="grid xl:grid-cols-8 sm:grid-cols-4 grid-cols-1 items-center 2xl:gap-8 xl:gap-6 lg:gap-16 md:gap-12 p-4 gap-4 2xl:pb-2 2xl:pt-2 font-semibold">
  <div *ngFor="let item of items; index as i ">
    <div class="card hazard-card relative">

      <div class="absolute top-0 right-0 2xl:p-2 p-1.5">
        <div class="bg-black bg-opacity-30 2xl:rounded-lg rounded-md md:p-1.5 p-1" (click)="deleteItem(i)">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" class="fill-neutral-50 md:h-3 h-2">
            <path d="M1.707.293A1 1 0 0 0 .293 1.707L5.586 7L.293 12.293a1 1 0 1 0 1.414 1.414L7 8.414l5.293 5.293a1 1 0 0 0 1.414-1.414L8.414 7l5.293-5.293A1 1 0 0 0 12.293.293L7 5.586z"/>
          </svg>
        </div>
      </div>

      <div class="w-full font-semibold grid grid-cols-2 gap-x-4 gap-y-2">
        <div id="ennemyCardCount" class="2xl:space-y-2 xl:space-y-1 space-y-0.5 col-span-full">
          <label for="player-level-{{i}}" class="pl-2">Ennemy Count</label>
          <input type="number" min="0" max="20" placeholder="Count ..." id="player-level-{{i}}" [(ngModel)]="item.count" (input)="countChange()"
                 class="w-full xl:w-full px-4 text-neutral-900 rounded-xl bg-blue-200 placeholder-gray-500 [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none">
        </div>

        <div id="ennemyCardCr" class="2xl:space-y-2 xl:space-y-1 space-y-0.5 col-span-full">
          <label for="player-level-{{i}}" class="pl-2">Ennemy Cr</label>
          <input type="number" min="0" max="20" placeholder="Cr ..." id="player-level-{{i}}" [(ngModel)]="item.cr" (input)="crChange()"
                 class="w-full xl:w-full md:w-3/4 px-4 text-neutral-900 rounded-xl bg-blue-200 placeholder-gray-500 [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none">
        </div>

        <div class="pl-2 xl:space-y-1 grid xl:grid-cols-1 lg:grid-cols-2 sm:grid-cols-1 grid-cols-2 justify-center sm:gap-y-1 col-span-2">
          <div class="flex h-min">
            <input type="checkbox" id="elite-ennemy" (input)="isComplex(i)"/>
            <label for="elite-ennemy" class="pl-2">Elite</label>
          </div>
        </div>

      </div>

    </div>
  </div>

  @if (items.length < 8) {
    <div class="card add-card cursor-pointer" (click)="addItem()">
      <p class="w-full text-center font-semibold lg:text-base text-sm">ADD HAZARD</p>

      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="fill-neutral-50 2xl:max-h-20 lg:max-h-16 sm:max-h-12 max-h-8">
        <path fill="currentColor" d="M18 12.998h-5v5a1 1 0 0 1-2 0v-5H6a1 1 0 0 1 0-2h5v-5a1 1 0 0 1 2 0v5h5a1 1 0 0 1 0 2"/>
      </svg>
    </div>
  }

</div>
